.logout {
  color: rgb(169, 169, 255);
  cursor: pointer;
}

.logout:hover {
  color: rgb(128, 128, 255);
}

.error-text,
.invalid-text {
  color: rgb(224, 99, 99);
} 

.invalid-text {
  font-size: 1.3rem;
}  

.actions {
  margin-top: 1em;
}

.link {
  text-decoration: none;
  background-color: transparent;
  color: grey;
}

.link:hover {
  color: white;
} 

.form-control {
  width: 90%;
  margin: 0 auto;
}


