.logout {
  color: #a9a9ff;
  cursor: pointer;
}

.logout:hover {
  color: #8080ff;
}

.error-text,
.invalid-text {
  color: #e06363;
} 

.invalid-text {
  font-size: 1.3rem;
}  

.actions {
  margin-top: 1em;
}

.link {
  color: #808080;
  background-color: transparent;
  text-decoration: none;
}

.link:hover {
  color: #ffffff;
} 

.form-control {
  margin: 0 auto;
  width: 90%;
}


