.button {
    background-color: transparent;
    color: rgb(169, 169, 255);
    margin: 1em;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 1px solid rgb(169, 169, 255);
    font-size: 1.5rem;
}

.button:hover {
    background-color: rgb(188, 188, 255);
    color: rgb(40, 40, 40);
    border: 1px solid rgb(40, 40, 40);
}

@media (min-width: 576px) {
    .button {
        font-size: 2rem;
    }
}

@media (min-width: 1200px) {
    .button {
        font-size: 2.5rem;
    }
}
