.nav .nav-links {
    display: none;
}

.nav.active {
    width: 100vw;
    height: 100vh;
}

.nav .hamburger, 
.nav.active .hamburger {
    height: 10%;
    display: flex;
    align-items: center;
}

.nav.active .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.nav.active .nav-link {
    margin: 0.5em;
    padding: 0.5em;
    text-decoration: none;
}

@media (min-width: 768px) {
    .nav, 
    .nav.active{
        height: 5em;
        position: relative;
        top: 10px;
    }

    .nav .nav-links,
    .nav.active .nav-links {
        flex-direction: row;
    }

    .nav .hamburger, 
    .nav.active .hamburger {
        display: none;
    }
}