.nav {
    padding: 1.2em;
    height: 8vh;
    min-height: 60px;
    background-color: #010101;
    z-index: 10;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
}

.nav-link.active {
    color: #a9a9ff;
}

@media (min-width: 576px) {
    .nav-links {
        margin: 0 auto;
        width: 80%;
    }
}

@media (min-width: 768px) {
    .nav-links {
        width: 70%;
    }

    .nav-link {
        font-size: 2.7rem;
    }
}

@media (min-width: 1200px) {
    .nav-links {
        width: 50%;
    }

    .nav-link {
        font-size: 3rem;
    }
}