.new-recipe {
    margin-top: 5em;
    height: 80vh;
}

.page-title {
    margin: 1em 0;
    font-weight: bold;
    font-size: 2.8rem;
    color: #a9a9ff;
}

.error-text,
.invalid-text {
  color: #e06363;
} 

.invalid-text {
  font-size: 1.3rem;
}  

.ingredients {
    display: flex;
    align-items: center;
    width: 100%;
}

.ingredients-list {
    margin: 1em auto;
    padding: 0.5em;
    width: 90%;
    height: 100px;
    font-size: 1.5rem;
    color: #808080;
    background-color: #000000b3;
    list-style: none;
    overflow: scroll;
}

.ingredient {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    border-bottom: thin solid #2e2e2e;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.3em;
    height: 100%;
    cursor: pointer;
}

.add-icon {
    color: #a9a9ff;
}

.remove-icon {
    color: #c67272;
}

.new-recipe-form {
    margin-top: 2em;
    width: 100%;
}

.form-control {
    margin: 1em auto;
    width: 90%;
}

@media (min-width: 576px) {
    .icon {
        font-size: 2.5rem;
    }

    .page-title {
        font-size: 3rem;
    }

    .form-control,
    .ingredients-list {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .icon {
        font-size: 2.7rem;
    }

    .page-title {
        font-size: 3.2rem;
    }

    .ingredient {
        font-size: 1.8rem;
    }

    .invalid-text {
        font-size: 1.4rem;
    }  

    .form-control,
    .ingredients-list {
        width: 60%;
    }
}

@media (min-width: 976px) {
    .form-control,
    .ingredients-list {
        width: 50%;
    }
}


@media (min-width: 1200px) {
    .icon {
        font-size: 2.9rem;
    }

    .add-icon {
        font-size: 3.2rem;
    }

    .page-title {
        font-size: 3.5rem;
    }

    .invalid-text {
        font-size: 1.5rem;
    } 

    .form-control,
    .ingredients-list {
        width: 40%;
    }
}
