.new-recipe {
    height: 80vh;
    margin-top: 5em;
}

.page-title {
    color: rgb(169, 169, 255);
    font-weight: bold;
    font-size: 2.8rem;
    margin: 1em 0;
}

.error-text,
.invalid-text {
  color: rgb(224, 99, 99);
} 

.invalid-text {
  font-size: 1.3rem;
}  

.ingredients {
    display: flex;
    align-items: center;
    width: 100%;
}

.ingredients-list {
    list-style: none;
    height: 100px;
    overflow: scroll;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5em;
    color: grey;
    width: 90%;
    margin: 1em auto;
}

.ingredient {
    display: flex;
    justify-content: space-between;
    border-bottom: thin solid rgb(46, 46, 46);
    padding: 0.5em;
}

.icon {
    padding-left: 0.3em;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-icon {
    color: rgb(169, 169, 255);
}

.remove-icon {
    color: rgb(198, 114, 114);
}

.new-recipe-form {
    margin-top: 2em;
}

.form-control {
    width: 90%;
    margin: 1em auto;
}

@media (min-width: 576px) {
    .icon {
        font-size: 2.5rem;
    }

    .page-title {
        font-size: 3rem;
    }
}

@media (min-width: 768px) {
    .icon {
        font-size: 2.7rem;
    }

    .page-title {
        font-size: 3.2rem;
    }

    .ingredient {
        font-size: 1.8rem;
    }

    .invalid-text {
        font-size: 1.4rem;
    }  

}

@media (min-width: 1200px) {
    .icon {
        font-size: 2.9rem;
    }

    .add-icon {
        font-size: 3.2rem;
    }

    .page-title {
        font-size: 3.5rem;
    }

    .invalid-text {
        font-size: 1.5rem;
    } 
}
