.error-text,
.invalid-text {
  color: rgb(224, 99, 99);
} 

.invalid-text {
  font-size: 1.3rem;
}  

.ingredients {
    display: flex;
    width: 100%;
}

.ingredients-list {
    list-style: none;
    height: 100px;
    overflow: scroll;
    margin: 1em 0;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5em;
}

li {
    display: flex;
    justify-content: space-between;
    border-bottom: thin solid rgb(46, 46, 46);
    padding: 0.5em;
}

.icon {
    padding-left: 0.3em;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-icon {
    color: rgb(141, 201, 141);
    font-size: 3rem;
}

.remove-icon {
    color: rgb(198, 114, 114);
    font-size: 2rem;
}