.recipe-box {
    border: 1px solid white;
    width: 90%;
    margin: 1em auto 2em;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.add-to-list {
    font-size: 1.3rem;
}
