.recipes {
    display: flex;
}

.recipes-list {
    display: flex;
    overflow-x: auto; 
    white-space: nowrap;
}

.recipes .icon {
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    margin: 2em auto;
    width: 100%;
    max-width: 1400px;
}

