.back-action {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 0;
    top: 6vh;
    z-index: 1;
    background-color: rgba(36, 36, 36, 0.7);
    width: 100%;
}

/* .recipe-details {
    margin-top: 5em;
} */

.recipe-box {
    /* width: 1200px; */
    /* margin-top: 5em; */
    width: 100%;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    margin-top: 12em;
    /* height: 70vh; */
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* background-color: rgba(1, 1, 1,0.7); */
    padding: 1em;
    font-size: 1.5rem;
    line-height: 1.8;
    border-radius: 10px;
}

.recipe-box .title {
    font-size: 2.2rem;
    color: rgb(142, 142, 143);
    font-weight: bold;
    /* margin-bottom: 1em; */
}

.recipe-img {
    /* width: 100%; */
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 1em 0;
}

/* .recipe-ingredients { */
    /* overflow: scroll; */
    /* margin: 1em; */
    /* padding-right: 1em; */
    /* width: 100%; */
/* } */

.recipe-ingredients-list {
    list-style: none;
    /* padding-right: 1em; */
    margin-bottom: 1em;
}

.ingredients-title {
    color: grey;
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5em 0;
    text-align: center;
}

/* .recipe-instruction { */
    /* margin: 1em; */
    /* padding-left: 1em; */
    /* overflow: scroll; */
    /* width: 100%; */
/* } */

.select-recipe {
    padding-top: 1em;
}

.add-recipe {
    order: -1;
}

 .ingredients-modal {
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 1em;
 }

/* .ingredients-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
} */

.ingredients-modal .ingredients-title {
    color: rgb(155, 155, 215);
    font-weight: bold;
}

.ingredients-modal .recipe-ingredients-list {
    margin: 2em 0 0 0;
    height: 40vh;
    overflow: scroll;
}

.ingredients-modal .ingredient {
    line-height: 1.4;
    display: flex;
    align-items: center;
    padding: 0.5em 0;
    border-bottom: thin solid rgb(67, 67, 67);
}

.ingredients-modal .select-icon {
    margin-right: 0.5em;
    color: grey;
    cursor: pointer;
}

.ingredients-modal .select-icon.active {
    color: rgb(155, 155, 215);
}

.ingredients-modal .actions {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    margin-top: 1.5em;
    /* height: 10vh; */
} 

/* .ingredients-modal .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: grey;
} */
/* 
.ingredients-modal .add-icon {
    color: rgb(126, 126, 203);
    font-size: 4.5rem;
    margin-left: 0.2em;
    font-variation-settings: 'FILL' 1;
    cursor: pointer;
} */

