.page-title {
    color: rgb(169, 169, 255);
    font-weight: bold;
    font-size: 2.8rem;
    padding-bottom: 1em;
}

.shopping-list {
    font-size: 1.6rem;
    width: 90%;
    margin: 3em auto 0;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.shopping-list-box {
    height: 60vh;
    overflow: scroll;
}

.shopping-list-item {
    padding: 0.5em;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.shopping-list .icon {
    margin-left: 1em;
    cursor: pointer;
    padding: 0.1em;
    color: grey;
}

.shopping-list .icon:hover,
.shopping-list .remove-all:hover {
    color: rgb(169, 169, 255);
}

.shopping-list .remove-all {
    margin-top: 1.5em;
    color: grey;
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
}

@media (min-width: 576px) {
    .page-title,
    .shopping-list .icon  {
        font-size: 3rem;
    }

    .shopping-list {
        width: 70%;
    }

    .shopping-list .remove-all {
        font-size: 2rem
    }
}

@media (min-width: 768px) {
    .page-title,
    .shopping-list .icon  {
        font-size: 3.2rem;
    }

    .shopping-list {
        font-size: 1.8rem;
        width: 50%;
    }

    .shopping-list .remove-all {
        font-size: 2.3rem
    }
}

@media (min-width: 1200px) {
    .page-title,
    .shopping-list .icon  {
        font-size: 3.5rem;
    }

    .shopping-list {
        font-size: 2rem;
        width: 30%;
    }

    .shopping-list .remove-all {
        font-size: 2.5rem
    }
}