.page-title {
    color: rgb(169, 169, 255);
    font-weight: bold;
    font-size: 2.8rem;
    padding-bottom: 1em;
}

.shopping-list {
    font-size: 1.6rem;
    width: 100%;
    margin: 3em auto 0;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.shopping-list-box {
    height: 60vh;
    overflow: scroll;
}

.shopping-list-item {
    /* color: rgb(231, 231, 231); */
    padding: 0.5em;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.shopping-list .icon {
    margin-left: 1em;
    cursor: pointer;
    padding: 0.1em;
    color: grey;
}

.shopping-list .icon:hover,
.shopping-list .remove-all:hover {
    color: rgb(169, 169, 255);
}

.shopping-list .remove-all {
    margin-top: 1.5em;
    color: grey;
    cursor: pointer;
    display: inline-block;
}