.button {
    background-color: transparent;
    color: rgb(169, 169, 255);
    margin: 1em;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 1px solid rgb(169, 169, 255);
    font-size: 1.5rem;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0px 0px 15px 0px rgb(169, 169, 255);
}

.button:disabled {
    border: 1px solid rgb(176, 176, 176);
    color: rgb(176, 176, 176);
    cursor:auto;
}

.button:disabled:hover {
    box-shadow: none;
}
 
@media (min-width: 576px) {
    .button {
        font-size: 2rem;
    }
}

@media (min-width: 1200px) {
    .button {
        font-size: 2.5rem;
    }
}
